body{
    background-color: #1a1423;
    margin: 0px;
    padding: 0px;
}


.menuInicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold; 
}
.menuInicio div{
    display: flex;
    align-items: center;
    
}
.NombreInicio{
    font-size: 40px;
    padding-left: 10px;
}
.ImagenInicio{
    height: 80px;
    border-radius: 100%;
}
.BarraDeInicio li{
    display: inline-block;
    padding: 0px 60px;
    font-size: 30px;
}

header{
    background-color: burlywood;
}

.LinkInicio{
    text-decoration: none;
    color: white;
}

.LinkInicio:hover{
    color: aqua;
}


.ContactoBarra{
    align-items: center;
}

.TitutoContacto{
    justify-content: center;
    display: flex;
    font-size: 30px;
    padding-top: 5px;
}
/*Perfil*/
.Intermedio{
    padding: 0px;
    margin: 0px;
    background-color: #DEB887;
}

.Presentacion{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #93B5C6;
}
.PerfilPresentacion{
    background-color: #DEB887;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    border-radius: 40px;
}

.PerfilPresentacion div{
    padding-left: 4%;
}

.PerfilPresentacion div h2{
    font-size: 40px;
    justify-content: center;
}

.PerfilPresentacion div h3{
    font-size: 30px;
}

.FotoPerfil{
    width: 20%;
    border-radius: 100%;
}

.PresentacionDescripcion{
    display: flex;
    padding-top: 1%;
    justify-content: center;
}


.PresentacionDescripcion{
    align-items: center;
    font-size: 40px;
}

/*habilidades*/
.Habilidades{
    padding-top: 15px;
    margin: 0px;
    
}
.ContenedorHabilidades{
    width: 1200px;
    align-items: center;
    justify-content: center;
    background-color: #93B5C6;
    border-radius: 60px;
    margin-left: 19%;
}

.Habilidades h2{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.ImgHabilidades{
    display:  flex;
    justify-content: center;
    
}
.ImagenesHabilidades{
    height: 100px;
    display: flex;
    padding:1% 5% 2% 5%;
}
/*habilidades*/


.Proyectos h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*habilidades*/
.Formulario{
    background-color: #93B5C6;
    padding-bottom: 20px;
}

.ContenedorFormulario{
    display: block;
}

footer{
    background-color: burlywood;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BarraContacto li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 132px;
    padding-bottom: 10px;
    font-weight: bold;
    
}

.BarraContacto{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ImagenContacto{
    width: 40px;
}